html, body, #root, .AppComponent,.AppBody{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: block;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  //font-family: 'Pingfang SC','Lantinghei SC','Microsoft YaHei','Hiragino Sans GB','WenQuanYi Micro Hei',sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #c3c3c3;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}



@HEADER_HEIGHT: 60px;

.AppComponent{
  .fadeBg();
}

.fadeBg(){
  background: fade(#FFFFFF,100);
}

.AppHeader{
  //.fadeBg();
  background: #665F7B;
  color: fade(#FFFFFF,58);
  height: @HEADER_HEIGHT;
  width: 100%;
  position: fixed;
  top: 0px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.2);
}

.AppHeaderLeft{
  float: left;
  line-height: 40px;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 16px;
}

.AppHeaderRight{
  float: right;
  margin-right: 20px;
  margin-top: 10px;
  width: 400px;

  .nickname{
    float: right;
    line-height: 40px;
    margin-right: 20px;
    font-size: 14px;
    color: fade(#FFFFFF,58);
  }

  .comp-UserAvatar{
    float: right;
  }
}




.AppBody{
  display: flex;
  flex-direction: column;
  color: fade(#000000,60);
}

.AppBodyHeaderHeight{
  height: @HEADER_HEIGHT;
  flex: 0 0 auto;
}

.AppBodyContent{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
}


.AppBodyChildren{
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.AppNav{
  width: 60px;
  flex: 0 0 auto;
  border-right: 1px solid fade(#CCCCCC,30);
}