.page-header{
  top: 0;
  position: fixed;
  z-index: 100;
  background: #fff;
  width: 100%;
  height: 54px;
  left: 0;
  right: 0;
}

.page-wrapper {
  background: #ffffff;
}

.page-content{
  position: relative;
}