body,html,div,section,ul,li{
  padding: 0;
  margin: 0;
}
body {
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
  font-size: 12px;
  line-height: 1.5;
  color: #666;
  background-color: #fff;
}

.clearfix, .clear {
    zoom: 1;
    clear: both;
}
.float-r{
  float: right !important;
}
.float-l{
  float: left !important;
}
.clear10{
  clear: both;
  height: 10px;
}
.clear20{
  clear: both;
  height:20px;
}


.page-content{
  margin: 0 auto;
}



.cp-fullscreen-dialog{

  .ant-modal{
    width: 100%;
    padding-bottom: 0px;
    height: 100%;
  }

  .ant-modal-content{
    border-radius: 0px;
    height: 100%;
  }

  .ant-modal-header {
    border-bottom: none;
    display: none;
  }

  .ant-modal-footer {
    border-top: none;
    display: none;
  }

  .ant-modal-close{
    right: 150px;
    top: 100px;
    border-radius: 1000px;
    width: 80px;
    height: 80px;

    &:hover{
      background-color: #EEE;
    }

    .ant-modal-close-x{
      font-size: 50px;
      width: 50px;
      height: 50px;
      margin: 0 auto;
    }
  }
}