.chat-LeftPanelHeader{
  height: 80px;

  .title{
    padding-top: 25px;
    color: #00ACC1;
    .action{
      float: left;
      margin-left: 30px;
    }
    .icon-arrow-left2{
      font-size: 26px;
      cursor: pointer;
    }
    .text{
      font-size: 19px;
      float: left;
      font-family: Roboto;
      margin-left: 15px;
    }
  }
}