
@VC_USER_ITEM_HEIGHT:72px;

.VC_UserItem {
  padding: 15px 15px;
  border-bottom: 1px solid fade(#d7d7d7,50);
  margin: 0 0px;
  cursor: pointer;

  &:hover{
    background-color: fade(#EEEEEE,40);
    //border-bottom: 1px solid #776962;
  }

  .VC_UserAvatar{
    float: left;
    position: relative;
  }

  .VC_UserInfo{
    margin-left: 20px;
    float: left;
  }
}