.cp-reply-service{
  .clear{
    clear: both;
    display: block;
    height: 1px;
  }
  .cp-loading-wrap{
    position: relative;
    z-index: 1;
  }
  .cp-loading{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: none;
    background-color: #FFF;
    opacity: 0.6;
  }

  .cp-loading img{
    position: absolute;
    top:50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -16px;
    z-index: 3;
    //display: none;
    //background-color: #000;
    //opacity: 0.6;
  }

  .boxCreateReply{

  }

  .cp-reply-avatar{
    width: 60px;
    height: 60px;
    border-radius: 100px;
    float: left;
    margin-right: 20px;
    img{
      width: 100%;
      height: 100%;
      border-radius: 100px;
    }
  }

  .cp-reply-cc{
    float: left;
  }

  .cp-reply-item{
    width: 100%;
    border-top:1px solid #cccccc;
    margin-bottom: 20px;
    padding-top: 20px;
  }


  .cp-reply2-list{
    margin-left: 50px;
  }

}