.cp-reply-service{
  padding: 0px;
  margin: 0px;
  font-size: 12px;

  .clear{
    clear: both;
    display: block;
    height: 0px;
    line-height: 0px;
  }
  .cp-loading-wrap{
    position: relative;
    z-index: 1;
  }
  .cp-loading{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: none;
    background-color: #FFF;
    opacity: 0.6;
  }

  .cp-loading img{
    position: absolute;
    top:50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -16px;
    z-index: 3;
    //display: none;
    //background-color: #000;
    //opacity: 0.6;
  }

  .cp-reply-h1{
    height: 50px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    line-height: 50px;
    font-size: 20px;
    border-bottom: 2px solid #dd5862;

    span{
      float: right;
      font-size: 13px;
      display: none;
    }
  }

  .boxCreateReply{
    .loginUserInfo{
      float: left;
    }

    .tempUserInfo{
      float: left;
    }
  }

  .boxCreateReply.hasLogin_false{
    .loginUserInfo{
      display: none;
    }
  }

  .boxCreateReply.hasLogin_true{
    .changeAvatar{
      display: none;
    }
    .tempUserInfo{
      display: none;
    }
  }

  .createReplyContentWrap{
    border: 1px solid #CCC;
  }

  .createReplyContent{
    min-height: 70px;
    width: 800px;
    max-width: 800px;
    outline: none;
    border: none;
    border-bottom:1px solid #CCC;;
  }

  .createReplyContent_1{
    //height: 30px;
    line-height: 30px;
    border-top: none;
    padding-left: 10px;
    input{
      outline: none;
      margin-left: 5px;
      margin-right: 5px;
    }


    button{
      float: right;
      width: 100px;
      height: 30px;
      border: none;
      outline: none;
      background-color: #dd5862;
      padding: 0px;
      margin: 0px;
      color: #FFFFFF;
      cursor: pointer;
    }

  }

  .cp-reply-avatar{
    width: 60px;
    height: 60px;
    border-radius: 100px;
    float: left;
    margin-right: 20px;
    img{
      width: 100%;
      height: 100%;
      border-radius: 100px;
    }
  }

  .cp-reply-cc{
    float: left;
  }

  .cp-reply-item{
    width: 100%;
    border-top:1px solid #cccccc;
    margin-bottom: 20px;
    padding-top: 20px;
  }




  .cp-reply2-list{
    margin-left: 50px;
  }

  .cp-reply2-item{

  }

  .cp-reply2-avatar{

    float: left;
    width: 32px;
    height: 32px;
    border: 1px #ccc solid;
    padding: 1px;

    img{
      width: 32px;
      height: 32px;
    }

  }


  .cp-reply2-cnt{
    .cp-reply2-name{

    }
    .cp-reply2-text{

    }
    p{
      i{

      }
    }
  }







}