.chat-room{
  .chat-side{
    .my-info{
      position: fixed;
      top: 52px;
      left: 0;
      height: 70px;
      width: 280px;
      border-right: 1px solid #CCCCCC;
      img.avatar{
        width: 40px;
        height: 40px;
      }
    }
    .session-list{
      position: fixed;
      left: 0;
      top: 122px;
      bottom: 0;
      width: 280px;
      border-right: 1px solid #CCCCCC;
    }
  }

  .chat-content{
    //position: fixed;
    //left: 281px;
    //top: 80px;
  }
}

