.chat-room{
  .chat-side{
    position: fixed;
    left: 0;
    top: 50px;
    bottom: 0;
    width: 280px;
    border-right: 1px solid #CCCCCC;

    .session-list{
    }
  }

  .chat-content{
    //position: fixed;
    //left: 281px;
    //top: 80px;
  }
}

