.cp-popup-b{
  position: relative;
  z-index: 1;
  float: right;
}
.cp-popup-ctn{
  width: 100px;
  display: none;
  position: absolute;
  top: 5px;
  left: 55px;
  z-index: 2;
  color: #5cbdf1;
}
.cp-popup-ctn-show{
  display: block;
}

.cp-popup-ul-1{
  z-index: 200;
  background: #ffffff;
  color: #999;
  min-width: 120px;
  padding: 0px 0px;
  border-radius: 2px;
  box-shadow: 0px 1px 16px 0 rgba(90, 109, 122, 0.41);
  cursor: default;
}

.cp-popup-li-1{
  position: relative;
  line-height: 30px;
  cursor: default;
  font-style: normal;
  white-space: nowrap;
  padding: 0 20px;
}

.cp-popup-li-1:hover {
  color: #76b0f3;
  background: #f4f9ff;
  cursor: pointer;
}