.cp-daohang{
}


.cp-daohang-create{



}





.cp-daohang-ccs{
  button{
    display: inline;
    border: none;
    background: none;
    font-size: 12px;
    margin-left: 5px;
    font-weight: normal;
    color: #ff7800;
    cursor: pointer;
    outline: none;
    opacity: 0;
  }
  button:hover{
    opacity: 1;
  }
}

.cp-daohang-cc{

  h2{
    clear: both;
    span{
      font-size: 14px;
      line-height: 50px;
    }

    &:hover {
      button{
        opacity: 1;
      }
    }
  }
}

.cp-daohang-link{
  margin-left: 20px;
}

.cp-daohang-aa{
  float: left;
  margin-right: 20px;
  line-height: 25px;

  &:hover {
    button{
      opacity: 1;
    }
  }

}